<main id="grid">
  <div class="page-container">
    <div class="isotope" id="isotopeContainer" isotope-container ng-cloak>

      <div class="card {{photo.country}} {{photo.month}}" ng-repeat="photo in grid.photos track by $index" ng-controller="cardController as card" isotope-item>
        <div class="card-table card-top">
          <div class="card-cell card-desc" data-country="{{photo.country}}" opt-kind ok-key="filter">
            <a href="#" class="country card-info text-button link-blue" ok-sel=".{{photo.country}}">{{photo.country}}</a>
            <a href="#" class="month card-info text-body-1 link-blue" ok-sel=".{{photo.month}}">{{photo.month}}</a>
            <a href="#" class="year card-info text-body-1 link-blue" ok-sel="*">{{photo.year}}</a>
          </div>
          <div class="card-cell card-avatar" data-country="{{photo.country}}" opt-kind ok-key="filter">
            <a href="#"><img class="card-avatar-img" src="img/profile.jpg" /></a>
          </div>
        </div>
        <figure class="card-img" style="width:{{photo.img[card.isSrc].width}}px; height:{{photo.img[card.isSrc].height}}px;">
          <img ng-src="{{photo.img[card.isSrc].src}}" alt="{{photo.id}}" title="{{card.isSrc}}" />
          <ul class="lists-vertical card-hashtags">
            <li><a class="text-body-1 link-blue" href="#"><div>&nbsp;</div>#mountain</a></li>
            <li><a class="text-body-1 link-blue" href="#"><div>&nbsp;</div>#sun</a></li>
            <li><a class="text-body-1 link-blue" href="#"><div>&nbsp;</div>#amazing</a></li>
            <li><a class="text-body-1 link-blue" href="#"><div>&nbsp;</div>#amazing</a></li>
            <li><a class="text-body-1 link-blue" href="#"><div>&nbsp;</div>#amazing</a></li>
          </ul>

          <figcaption class="card-table card-bot">
            <div class="card-cell card-options" ng-class="{'card-hidden': card.commenting}">
              <a ng-click="card.optionsDetails($event)" href="#" alt="details" class="card-options-details icon-link icon-link-light">
                <svg viewBox="0 0 100 100" class="icon-small icon-search">
                  <use xlink:href="#icon-search"></use>
                </svg>
              </a>
            </div>
            <div class="card-cell card-options" ng-class="{'card-hidden': card.commenting}">
              <a ng-click="card.optionsLike($event)" href="#" alt="like" class="card-options-like icon-link icon-link-light">
                <svg viewBox="0 0 100 100" class="icon-small icon-like">
                  <use xlink:href="#icon-like"></use>
                </svg>
              </a>
            </div>
            <div class="card-cell card-options">
              <a ng-click="card.optionsComment($event)" href="#" alt="comment" class="card-options-comment icon-link icon-link-light">
                <svg viewBox="0 0 100 100" class="icon-small icon-comment">
                  <use xlink:href="#icon-comment"></use>
                </svg>
              </a>
            </div>
            <div class="card-cell card-comment" ng-class="{'card-hidden': !card.commenting}">
              <form class="card-cell">
                <input name="card-comment" class="text-subhead link-blue" type="text" placeholder="Comment">
              </form>
              <a class="card-cell text-body-1 link-blue" href="#">SEND</a>
              <!--a class="card-cell text-body-1 link-blue" href="#">SEE ALL</a-->
            </div>
            <div class="card-cell card-options" ng-class="{'card-hidden': card.commenting}">
              <a ng-click="card.optionsForward($event)" href="#" alt="share" class="card-options-forward icon-link icon-link-light">
                <svg viewBox="0 0 100 100" class="icon-small icon-forward">
                  <use xlink:href="#icon-forward"></use>
                </svg>
              </a>
            </div>
          </figcaption>

        </figure>
      </div>

    </div>
  </div>

  <div class="loading" ng-click="grid.loadMore()"><div class="loading-animation">&nbsp;</div></div>

  <mainfooter class="invisible">
    <div>
      <a ng-click="grid.loadMore()">load more images...</a>
    </div>
  </mainfooter>

</main>