/* COLORS */
/*
dark grey 35495E
blue 6B9CC5
light grey background

*/

/* LAYOUT */
body {
	background-color: #FFFFFF;
	color: #35495E;
}

.hidden {
	display: none;
}

a, a:link, a:visited {
	cursor: pointer;
	color: #35495E;
	text-decoration: none;
}

a:hover, a:active {
	cursor: pointer;
	color: #6B9CC5;
	text-decoration: underline;
}


/* COMPONENTS */

/* nav bar with vertical bars */
ul.thomas-navbar li {
	padding-left: 10px;
	padding-right: 0;
}

ul.thomas-navbar li+li:before {
	content: " | ";
	padding-right: 10px;
	color: #35495E;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}



/* headroom */
headroom {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 320px;
	padding-top: 10px;
	background-color: #FFFFFF;
	font-size: 1.1em;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

headroom #navbarRow {
	line-height: 60px;
	margin: 0 auto;
	background-color: #ECF0F1;
	border-radius: 5px;
	text-decoration: none;
}

headroom .navbar-header {
	margin-left: 20px;
}

headroom .navbar-collapse {
	margin-right: 20px;
}

headroom .navbar-header button.navbar-toggle {
	margin-top: 13px;
}

headroom .navbar-header button.navbar-toggle .icon-bar {
	background: #35495E;
}

headroom .navbar-header button.navbar-toggle:hover .icon-bar {
	background: #6B9CC5;
}

headroom .navbar-header #header-logo {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	background-image: url('../img/anchor3_35.png');
	background-repeat: no-repeat;
	background-position: center top;
}

headroom .navbar-header #header-logo:hover {
	background-position: bottom;
}

headroom .navbar-nav #header-wrench {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	background-image: url('../img/icons/icon_wrench.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0px;
}

headroom .navbar-nav #header-wrench:hover {
	background-position: bottom;
}

headroom ul {
	margin-bottom: 0;
}

headroom li {
	padding-left: 10px;
	padding-right: 0;
}

headroom li+li:before {
	content: " | ";
	padding-right: 10px;
}

headroom  img {
	max-height: 100%;
}

@media (max-width: 767px) {	/* .container auto */
	headroom ul.list-inline li {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	headroom ul.list-inline li+li:before {
		content: "";
		padding: 0;
	}
}

headroom.headroom {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	transition: transform 200ms linear;
}

headroom.headroom--pinned {
	transform: translateY(0%);
}

headroom.headroom--unpinned {
	transform: translateY(-100%);
}

/* NAV */
nav {
	margin-top: 130px;
	min-width: 320px;
	font-size: 1.1em;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}


/* MAIN */
main {
	margin: 50px -20px 20px 0;
}




/* GRID */
#grid #itemContainer {
	margin: 0 auto;
	width: 972px;
}

@media (max-width: 767px) {	/* .container auto */
	#grid #itemContainer {
		width: 320px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {	/* .container 750px */
	#grid #itemContainer {
		width: 640px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {	/* .container 970px */
	#grid #itemContainer {
		width: 960px;
	}
}
@media (min-width: 1200px) {	/* .container 1170px */
	#grid #itemContainer {
		width: 960px;
	}
}




#grid .item {
	position: relative;
	display: table;
	margin:0 10px 20px;
	/*visibility: hidden;*/
}

#grid .item .itemRow {
	display: table-row;
}

#grid .item .itemCell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#grid .item .itemUser {
	border-radius: 10px;
	background-color: #ECF0F1;
}

#grid .item .itemUser img {
	border-radius: 80px;
}

#grid .item .itemBio {
	margin-top: 40px;
	padding: 15px 0;
	list-style: none;
}

#grid .item .itemUsername {
	color: #6B9CC5;
}

#grid .item .itemFollow {
	padding: 10px 30px;
	border-radius: 5px;
	background-color: #ECF0F1;
	color: #6B9CC5;
	border: 1px solid #6B9CC5;
}

#grid .item .itemFollow:hover {
	background-color: #6B9CC5;
	color: #ECF0F1;
}

#grid .item .itemFollow.followed {
	background-color: #6B9CC5;
	color: #ECF0F1;
}

#grid .item .itemImg {
	border-radius: 10px 10px 0 0;
	background-color: #ECF0F1;
	cursor: pointer;
}
#grid .item .itemImg img {
	border-radius: 10px 10px 0 0;
}

#grid .item .itemDesc {
	padding: 15px 0;
}