/* COLORS */
/*

0 #FFFFFF //BG of layers
50 #ECEFF0 //for dividers of same priority content
900 #263238 //body bg and font color
blue #549ECB //hover

red #B94A48 //error

*/

/* LAYOUT */
body {
	height: 120%;
	background-color: #263238;
	background-image: url('../img/bg/blur_bluegrey_2600x1900.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
	color: #35495E;
}

.hidden {
	display: none;
}

a, a:link, a:visited {
	cursor: pointer;
	color: #263238;
	text-decoration: none;
}

a:hover, a:active {
	cursor: pointer;
	color: #549ECB;
	text-decoration: underline;
}


/* COMPONENTS */

/* nav bar with vertical bars */
ul.thomas-navbar li {
	padding-left: 10px;
	padding-right: 0;
}

ul.thomas-navbar li+li:before {
	content: " | ";
	padding-right: 10px;
	color: #ECEFF0;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}



/* #header */
#header.navbar {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 320px;
	border: 0;
	border-radius: 0px;
	box-shadow: 0px 0px 5px #263238;
	font-size: 1.1em;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#header #header-row {
	position: relative;
	z-index: 12;
	line-height: 80px;
	margin: 0 auto;
	background-color: #FFFFFF;
	text-decoration: none;
}

#header .navbar-header {
	margin-left: 30px;
}

#header .navbar-collapse {
	margin-right: 30px;
}

#header .navbar-header button.navbar-toggle {
	margin-top: 13px;
}

#header .navbar-header button.navbar-toggle .icon-bar {
	background: #35495E;
}

#header .navbar-header button.navbar-toggle:hover .icon-bar {
	background: #549ECB;
}

#header .navbar-header #header-logo {
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	background-image: url('../img/anchor3_35.png');
	background-repeat: no-repeat;
	background-position: center top;
}

#header .navbar-header #header-logo:hover {
	background-position: bottom;
}

#header #header-avatar {
	z-index: 15;
	position: fixed;
	top: 80;
	left: 0;
	display: block;
	left: 50%;
	width: 120px;
	height: 120px;
	margin: -60px 0 0 -60px;
	border-radius: 60px;
	background-image: url('../img/profile.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}

#header #header-avatar:hover {
	text-decoration: none;
}

#header .navbar-nav a {
padding: 0 10px;
}

#header .navbar-nav #header-wrench {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	background-image: url('../img/icons/icon_wrench.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding: 0px;
}

#header .navbar-nav #header-wrench:hover {
	background-position: bottom;
}

#header ul {
	margin-bottom: 0;
}

#header li {
	padding-left: 10px;
	padding-right: 0;
}

#header li+li:before {
	content: " | ";
	padding-right: 10px;
}

#header img {
	max-height: 100%;
}

@media (max-width: 767px) {	/* .container auto */
	#header ul.list-inline li {
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	#header ul.list-inline li+li:before {
		content: "";
		padding: 0;
	}
}

#header headroom#header-bio {
	z-index: 10;
	display: block;
	position: fixed;
	top: 80px;
	left: 0;
	width: 100%;
	padding: 70px 20% 10px 20%;
	background-color: #FFFFFF;
	border-top: 1px solid #ECEFF0;
	box-shadow: 0px 0px 5px #263238;
	text-align: center;
}

#header headroom#header-bio.headroom {
	transition: transform 200ms linear;
}

#header headroom#header-bio.headroom--pinned {
	transform: translateY(0%);
}

#header headroom#header-bio.headroom--unpinned {
	transform: translateY(-100%);
}

/* NAV */
nav {
	margin-top: 130px;
	min-width: 320px;
	font-size: 1.1em;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

}


/* PAGE */
#page {
	margin-top: 250px;
}




/* GRID */
#grid #itemContainer {
	margin: 0 auto;
	width: 972px;
}

@media (max-width: 767px) {	/* .container auto */
	#grid #itemContainer {
		width: 320px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {	/* .container 750px */
	#grid #itemContainer {
		width: 640px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {	/* .container 970px */
	#grid #itemContainer {
		width: 960px;
	}
}
@media (min-width: 1200px) {	/* .container 1170px */
	#grid #itemContainer {
		width: 960px;
	}
}




#grid .item {
	position: relative;
	display: table;
	margin:0 10px 20px;
	box-shadow: 0px 0px 5px #263238;
	/*visibility: hidden;*/
}

#grid .item .itemRow {
	display: table-row;
}

#grid .item .itemCell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#grid .item .itemDesc {
	padding: 15px 10px;
	background-color: #FFFFFF;
}

#grid .item .itemDesc .itemInfo {
	display:table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: left;
}

#grid .item .itemDesc .itemInfo .country {
	font-weight: bold;
	text-transform: uppercase;
}

#grid .item .itemDesc .itemAvatar {
	display:table-cell;
	vertical-align: middle;
	padding: 0;
	text-align: right;
}

#grid .item .itemDesc img {
	width: 36px;
	height: 36px;
	border-radius: 18px;
}

#grid .item .itemImg {
	background-color: #ECF0F1;
	cursor: pointer;
}
#grid .item .itemImg img {
}



/* LOGIN */
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	margin-top: 50px;
	font-weight: normal;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin label {
	color: #FFFFFF;
	margin: 10px 0;
	font-weight: normal;
	text-transform: uppercase;
}

.form-signin input {
  position: relative;
  height: auto;
  width: 100%;
  box-sizing: border-box;
	border: 1px solid #FFFFFF;
  padding: 10px;
	margin: 5px 0;
  font-size: 15px;
}

.form-signin input:focus {
  z-index: 2;
}
/*
.form-signin input.ng-invalid {
  z-index: 2;
  border-color: #B94A48;
}*/

.form-signin button {
	display: inline;
	float: right;
	margin: 40px 0;
	padding: 10px 15px;
	border: 0;
	border-radius: 5px;
	background-color: transparent;
	color: #ECEFF0;
	text-transform: uppercase;
}

.form-signin button:hover {
	background-color: #263238;
}