<div id="create" class="container" ng-controller="createController as create">
  <div id="createStatus">
    <ul>
      <li class="createStatusIcons"><a id="createStatusIconsUpload" ng-click="create.setStatus('upload')">&nbsp;</a></li>
      <li class="createStatusIcons"><a id="createStatusIconsCrop" ng-click="create.setStatus('crop')">&nbsp;</a></li>
      <li class="createStatusIcons"><a id="createStatusIconsFilter" ng-click="create.setStatus('filter')">&nbsp;</a></li>
      <li class="createStatusIcons"><a id="createStatusIconsInfo" ng-click="create.setStatus('info')">&nbsp;</a></li>
      <li class="createStatusIcons"><a id="createStatusIconsPublish" ng-click="create.setStatus('publish')">&nbsp;</a></li>
    </ul>
      <div id="createStatusArrow" class="createStatusArrow" ng-class="create.data.status"><span>&nbsp;</span></div>
  </div>
  <div id="createCanvas">
    <div id="createCanvasUpload">
      <a id="createCanvasUploadClose" ng-click="create.resetInterface()" href="#" ng-show="create.data.isUploaded">&nbsp;</a>
      <div id="createCanvasUploadDrop" createtrip>
        <img id="createCanvasUploadImg" ng-src="{{create.data.image}}" placeholder="img/icons/create_placeholder.png" />
      </div>
      <span>DRAG PHOTO HERE</span>
      <a id="createCanvasUploadBrowse" ng-click="create.browseImages()" ng-show="create.isSetStatus('upload')" href="#" title="Browse..">&nbsp;</a>
    </div>
  </div>

  <div id="createControls" ng-show="create.data.isUploaded">
    <div id="createControlsBack"><a ng-click="create.goToPreviousStatus()" href="#">&nbsp;</a></div>
    <div id="createControlsForward"><a ng-click="create.goToNextStatus()" href="#">&nbsp;</a></div>
  </div>

  <div class="createDisplay" ng-show="create.isSetsStatus('publish')">
    <p>{{create.info.country}}</p>
    <p>{{create.info.month}} {{create.info.year}}</p>
    <p>{{create.info.hashtags}}</p>
    <button ng-click="create.publish()">Upload</button>
  </div>

  <div id="createFilter" ng-show="create.isSetsStatus('filter')">
    <form>
      <button ng-click="create.applyFilter('Vintage')">Vintage</button>
      <button ng-click="create.applyFilter('Sin City')">Sin City</button>
    </form>
  </div>

  <div class="createDisplay" ng-show="create.isSetsStatus('publish')">
    <p>{{create.info.country}}</p>
    <p>{{create.info.month}} {{create.info.year}}</p>
    <p>{{create.info.hashtags}}</p>
    <form><button ng-click="create.publish()">Upload</button></form>
  </div>
</div>
