<div class="container" >
  <form class="form-signin" role="form" ng-controller="signUpController as signUpCtrl" ng-submit="signUpCtrl.addUser()" form-autofill-fix>
    <span class="form-signin-heading">Sign up</span>
    <input class="text-subhead" type="email" placeholder="Email" ng-model="signUpCtrl.user.email" required="required" autofocus>
    <label for="email" class="text-caption">&nbsp;</label>
    <input class="text-subhead" type="password" placeholder="Password" ng-model="signUpCtrl.user.password" required="required">
    <label for="password" class="text-caption">&nbsp;</label>
    <button class="text-button" type="submit">Sign up</button>
  </form>

  <form class="form-signin" role="form" ng-controller="signInController as signInCtrl" ng-submit="signInCtrl.signIn()" form-autofill-fix>
    <span class="form-signin-heading">Sign in</span>
    <input class="text-subhead" type="email" placeholder="Email" ng-model="signInCtrl.user.email" required="required">
    <label for="email" class="text-caption">&nbsp;</label>
    <input class="text-subhead" type="password" placeholder="Password" ng-model="signInCtrl.user.password" required="required">
    <label for="password" class="text-caption">&nbsp;</label>
    <button class="text-button" type="submit">Sign in</button>
  </form>
</div>