<div id="create">
  <div class="page-container">
    <div class="create-status">
      <ul class="lists-horizontal">
        <li class="create-status-list">
          <a href="#" class="card-options-details icon-link" ng-class="create.setIconActive('upload')" ng-click="create.setStatus('upload')">
            <svg viewBox="0 0 100 100" class="icon-big icon-upload">
              <use xlink:href="#icon-upload"></use>
            </svg>
          </a>
        </li>
        <li class="create-status-list">
          <a href="#" class="card-options-details icon-link" ng-class="create.setIconActive('crop')" ng-click="create.setStatus('crop')">
            <svg viewBox="0 0 100 100" class="icon-big icon-crop">
              <use xlink:href="#icon-crop"></use>
            </svg>
          </a>
        </li>
        <li class="create-status-list">
          <a href="#" class="card-options-details icon-link" ng-class="create.setIconActive('filter')" ng-click="create.setStatus('filter')">
            <svg viewBox="0 0 100 100" class="icon-big icon-filter">
              <use xlink:href="#icon-filter"></use>
            </svg>
          </a>
        </li>
        <li class="create-status-list">
          <a href="#" class="card-options-details icon-link" ng-class="create.setIconActive('info')" ng-click="create.setStatus('info')">
            <svg viewBox="0 0 100 100" class="icon-big icon-info">
              <use xlink:href="#icon-info"></use>
            </svg>
          </a>
        </li>
        <li class="create-status-list">
          <a href="#" class="card-options-details icon-link" ng-class="create.setIconActive('publish')" ng-click="create.setStatus('publish')">
            <svg viewBox="0 0 100 100" class="icon-big icon-publish">
              <use xlink:href="#icon-publish"></use>
            </svg>
          </a>
        </li>
      </ul>
        <div class="create-status-arrow" ng-class="create.data.status"><span>&nbsp;</span></div>
    </div>
    
    <div class="create-canvas">
      <a href="#" class="create-canvas-close icon-link" ng-click="create.resetInterface()" ng-show="create.data.isUploaded" href="#" title="Reload">
        <svg viewBox="0 0 100 100" class="icon-small icon-stop">
          <use xlink:href="#icon-stop"></use>
        </svg>
      </a>

      <div class="create-canvas-drop" createtrip>
        <span class="create-canvas-text text-headline" ng-show="!create.data.isUploaded">
          <h3>DRAG PHOTO HERE</h3>
          <a href="#" class="create-canvas-browse icon-link" ng-click="create.browseImages()" ng-show="create.isSetStatus('upload')" href="#" title="Browse..">
            <svg viewBox="0 0 100 100" class="icon-medium icon-browse">
              <use xlink:href="#icon-browse"></use>
            </svg>
          </a>
        </span>
        <img id="createCanvasUploadImg" class="create-canvas-img" ng-class="{'placeholder': !create.data.isUploaded}" ng-hide="create.isCanvas" ng-src="{{create.data.image}}" placeholder="img/icons/create_placeholder.png" />
        <canvas id="createCanvasUploadCanvas" class="create-canvas-canvas" ng-show="create.isCanvas"></canvas>
      </div>
    </div>

    <div class="create-controls" ng-show="create.data.isUploaded">
      <div class="create-controls-prev">
        <a class="icon-link" ng-click="create.goToPreviousStatus()" href="#" title="Previous">
          <svg viewBox="0 0 100 100" class="icon-big icon-prev">
            <use xlink:href="#icon-prev"></use>
          </svg>
        </a>
      </div>
      <div class="create-controls-next">
        <a class="icon-link" ng-click="create.goToNextStatus()" href="#" title="Next">
          <svg viewBox="0 0 100 100" class="icon-big icon-next">
            <use xlink:href="#icon-next"></use>
          </svg>
        </a>
      </div>
    </div>

    <div class="create-crop form-bot-space" ng-show="create.isSetStatus('crop')">
      <form class="form-create-crop form-center">
        
        <div class="form-row form-top-space">
          <span class="form-icon">
            <svg viewBox="0 0 100 100" class="icon-medium icon-compass">
              <use xlink:href="#icon-compass"></use>
            </svg>
          </span>
          <input name="crop-width" class="text-subhead" type="number" placeholder="0" required="required" ng-model="create.crop.width">
        </div>
        <div class="form-row">
          <label for="crop-width" class="text-caption">inputWidth max: {{create.data.width}}</label>
        </div>

        <div class="form-row">
          <span class="form-icon">
            <svg viewBox="0 0 100 100" class="icon-medium icon-compass">
              <use xlink:href="#icon-compass"></use>
            </svg>
          </span>
          <input name="crop-height" class="text-subhead" type="number" placeholder="0" required="required" ng-model="create.crop.height">
        </div>
        <div class="form-row">
          <label for="crop-height" class="text-caption">inputHeight max: {{create.data.height}}</label>
        </div>
        
        <div class="form-row">
          <span class="form-icon">
            <svg viewBox="0 0 100 100" class="icon-medium icon-compass">
              <use xlink:href="#icon-compass"></use>
            </svg>
          </span>
          <input name="crop-x" class="text-subhead" type="number" placeholder="0" ng-model="create.crop.x">
        </div>
        <div class="form-row">
          <label for="crop-x" class="text-caption">inputX</label>
        </div>

        <div class="form-row">
          <span class="form-icon">
            <svg viewBox="0 0 100 100" class="icon-medium icon-compass">
              <use xlink:href="#icon-compass"></use>
            </svg>
          </span>
          <input name="crop-y" class="text-subhead" type="number" placeholder="0" ng-model="create.crop.y">
        </div>
        <div class="form-row">
          <label for="crop-y" class="text-caption">inputY</label>
        </div>
        
        <div class="form-row">
          <button class="text-button" ng-click="create.crop()">Crop</button>
        </div>

      </form>
    </div>

    <div class="create-filter form-bot-space" ng-show="create.isSetStatus('filter')">
      <form class="form-create-filter form-center">
        <div class="form-row form-top-space">
          <button class="create-filter-button" ng-click="create.applyFilter('Vintage')">Vintage</button>
          <button class="create-filter-button" ng-click="create.applyFilter('Sin City')">Sin City</button>
        </div>
        
        <div class="form-row form-filter-slider" ng-controller="ngSlider as filterslider">
          <input ng-model="value" type="text" id="filter-slider" slider options="options" />
        </div>
        
        <div class="form-row form-bot-space">
          <label for="filters" class="text-caption">&nbsp;</label>
        </div>
      </form>
    </div>

    <div class="create-insert form-bot-space" ng-show="create.isSetStatus('info')">
      <form class="form-create-insert form-center">

        <div class="form-row form-top-space">
          <span class="form-icon">
            <svg viewBox="0 0 100 100" class="icon-medium icon-compass">
              <use xlink:href="#icon-compass"></use>
            </svg>
          </span>
          <select class="text-subhead" type="text" ng-model="create.info.country" required="required">
            <option value="Italy">Italy</option>
            <option value="France">France</option>
          </select>
        </div>
        <div class="form-row">
          <label for="country" class="text-caption">&nbsp;</label>
        </div>
        
        <div class="form-row">
          <span class="form-icon">
            <svg viewBox="0 0 100 100" class="icon-medium icon-calendar">
              <use xlink:href="#icon-calendar"></use>
            </svg>
          </span>
          <input class="text-subhead" type="text" placeholder="July 2014" pattern="[A-Za-z]* [0-9]{4}" required="required" ng-model= "create.info.year">
        </div>
        <div class="form-row">
          <label for="month" class="text-caption">&nbsp;</label>
        </div>
        
        <div class="form-row">
          <span class="form-icon">
            <svg viewBox="0 0 100 100" class="icon-medium icon-label">
              <use xlink:href="#icon-label"></use>
            </svg>
          </span>
          <input class="text-subhead" type="hashtags" placeholder="#" ng-model="create.info.hashtags">
        </div>
        <div class="form-row">
          <label for="hashtags" class="text-caption">&nbsp;</label>
        </div>
      </form>
    </div>

    <div class="create-display form-bot-space" ng-show="create.isSetStatus('publish')">
      <form class="form-create-display form-center">
        <div class="form-row form-top-space">
          <button ng-click="create.publish()">Upload</button>
        </div>
        <div class="form-row">
          <label for="hashtags" class="text-caption">{{create.info.country}} {{create.info.month}} {{create.info.year}} {{create.info.hashtags}}</label>
        </div>
      </form>
    </div>  
    
  </div>
</div>

