// ICON info


//path to img!

.icon-small {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-top: -2px; /* fix for vertical align with text */
}

.icon-medium {
  width: $distance-b;
  height: $distance-b;
  vertical-align: middle;
  margin-top: -2px; /* fix for vertical align with text */
}

.icon-big {
  width: $distance-e;
  height: $distance-e;
  vertical-align: middle;
  margin-top: -2px; /* fix for vertical align with text */
}

.icon-link {
  display: block;
  fill: $light-grey;
}

.icon-link:link {
  text-decoration: none;
  fill: $light-grey;
}

.icon-link:hover {
  text-decoration: none;
  fill: $dark-grey;
}

.icon-link:active, .icon-active.icon-link {
  text-decoration: none;
  fill: $dark-grey;
}

.icon-link:visited {
  text-decoration: none;
}

/* individuals */
.icon-rocket {
  width: $distance-d;
  height: $distance-d;
  fill: $blue;
  transition: transform 0.35s, fill 0.35s;
  transform: rotateZ(0);
}

.icon-rocket:hover {
  fill: $blue-3;
  transform: rotateZ(45deg);
}

.icon-rocket:active {
  fill: $blue-5;
  transform: rotateZ(90deg);
}