// ICON info

.icon-small {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-top: -2px; /* fix for vertical align with text */
}

.icon-medium {
  width: $distance-b;
  height: $distance-b;
  vertical-align: middle;
  margin-top: -2px; /* fix for vertical align with text */
}

.icon-big {
  width: $distance-e;
  height: $distance-e;
  vertical-align: middle;
  margin-top: -2px; /* fix for vertical align with text */
}

.icon-link {
  display: block;
}

.icon-link:link {
  text-decoration: none;
}

.icon-link:hover {
  text-decoration: none;
}

.icon-link:active, .icon-active.icon-link {
  text-decoration: none;
}

.icon-link:visited {
  text-decoration: none;
}

/* Colors light icons */
.icon-link-light {
  fill: $light-grey;
}

.icon-link-light:link {
  fill: $light-grey;
}

.icon-link-light:hover, .icon-active.icon-link {
  fill: $dark-grey;
}

.icon-link-light:active {
  fill: $blue;
}

/* Colors dark icons */
.icon-link-dark {
  fill: $blue-1;
}

.icon-link-dark:link {
  fill: $blue-1;
}

.icon-link-dark:hover {
  fill: $dark-grey;
}

.icon-link-dark:active {
  fill: $blue;
}

/* activate option icons */
.icon-link.on-b {
  fill: $blue;
}

.icon-link.on-r {
  fill: $red;
}

/* individuals */
.icon-rocket {
  width: $distance-d;
  height: $distance-d;
  fill: $blue;
  transition: transform 0.35s, fill 0.35s;
  transform: rotateZ(0);
}

.icon-rocket:hover {
  fill: $blue-3;
  transform: rotateZ(45deg);
}

.icon-rocket:active {
  fill: $blue-5;
  transform: rotateZ(90deg);
}