
/* LOGIN */

*:focus {
    outline: 0;
}

.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 50, 56, 0.5);
}

.login {
  position: relative;
  display: block;
  width: 420px;
  margin: 0 auto;
  box-shadow: 1px 1px 3px $dark-grey;
  text-align: right;
  background-color: $light-grey;
  @include vertical-align;
}

.login-top {
  height: $distance-e*2;
  background-color: $blue-5;
  vertical-align: middle;
  text-align: left;
  padding-left: $distance-c;
}

.login-top>span {
  display: inline-block;
  @include vertical-align;
}

.login-bot {
  padding: $distance-d $distance-c;
}




/* FORM */

.form-row {
}

.form-top-space {
  padding-top: $distance-c;
}

.form-bot-space {
  padding-bottom: $distance-c;
}

.form-icon {
  display: inline-block;
  box-sizing: border-box;
  width: $distance-e;
  padding: 6px 0;
  vertical-align: bottom;
  border: 0 none;
  background-color: transparent;
  fill: $dark-grey;
}

.form-help {
  text-align: left;
  margin-left: $distance-f;
}

form {
  margin: 0 auto;
}

form input, form select {
  box-sizing: border-box;
  width: 250px;
  padding: $distance-a/2 0;
  box-shadow: none;
  border: 0 none;
  border-bottom: 2px solid $dark-grey;
  background-color: transparent;
  color: $dark-grey;
}

form input:focus, form input.ng-valid, form select:focus, form select.ng-valid { 
  border-color: $blue;
  box-shadow: none;
}

form input.ng-invalid.ng-dirty, form select.ng-invalid.ng-dirty {
  border-color: $red;
  box-shadow: none;
}

form label {
  color: $blue;
}

form label.ng-valid {
  color: $blue;
}

form label.ng-invalid.ng-dirty {
  color: $red;
}

form button {
  display: inline;
  padding: $distance-a 0;
  border: none;
  background-color: transparent;
  color: $blue;
}

form button:hover, 
form button:active {
  color: $blue-1;
}
